
  <footer class="row twelve-pixel">
    <div class="navbar campton_book">
      <ul class="nav navbar-nav" id="footer_part1">
        <li><span>© 2015 Voler. All Rights Reserved  </span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a class="button footer_link"> torrif</a></li>
        <li><a class="button footer_link"> About us</a></li>
        <li><a class="button footer_link"> Careers</a></li>
        <li><a class="button footer_link"> Polices</a></li>
        <li><a class="button footer_link"> Blog</a></li>
        <li> <a href=""><i class="fa fa-google-plus"></i></a></li>
        <li> <a href=""> <i class="fa fa-facebook"></i></a></li>
        <li> <a href=""> <span  class="fa fa-twitter"></span></a></li>
      </ul>
    </div>
  </footer>
</div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</html>