{% include header.html %}
<main>

	<h1 class="text-center gotham-rounded-bok heading hw-carousel-heading"> Blog </h1>
	<!-- carousel-->

   		<div class="carousel-padding"> 
		   	<div class="line"></div>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		   		<div class="container heading-caro-padd">
				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">
				    	 {% for cont in site.data.Portfolio.carousel.carousel_content%}
					       {% if forloop.first %}
					  	<div class="item active">
					      <p class=" gotham-rounded-bok hw-para">
					       {{ cont.content}}
					      </p>
					    </div>
						{% else %}
					   <div class="item">
					       <p class=" gotham-rounded-bok hw-para">
					       		 {{ cont.content}}
					      	</p>
					    </div>
						{% endif %}
					    {% endfor %}
				    </div>
				</div>
			</div>
	 	</div>

  <section class="banner">
		<!-- <div class="casestudy-img">
			<div class="banner-inner">
				<h1 class="clr-white">Blog</h1>
			</div>
		</div> -->
	</section>
	<div class="blog-margin">
	<ul class="blog-grid clearfix blog-main">

		<li class="intro-wrapper">
			<h2 class="tagline gotham-rounded-bold margin-zero">Opinions, Thoughts and Digital Stuff</h2>
			<h3 class="subtitle gotham-rounded-bok ">Read Our Diary</h3>
			<p class="gotham-rounded-light">Thinking about website development? So are we. Constantly. We take what we do pretty seriously, but we also have a lot of fun while we’re doing it. Come share our collective headspace; you’ll discover more about the team and how we work.</p>

			<div class="row filters cs-li-margin">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<form method="get" action="" class="blog-cat-form">
						<select class="postform gotham-rounded-bok" id="cat" name="cat">
							<option value="Categories">Categories</option>
							<option value="Marketing" class="level-0">Marketing</option>
							<option value="Design" class="level-0">Design</option>
							<option value="UX" class="level-0">UX</option>
							<option selected="selected" value="WordPress" class="level-0">WordPress</option>
							<option value="Strategy" class="level-0">Strategy</option>
							<option value="Automations" class="level-0">Automations</option>
							<option value="News" class="level-0">News</option>
							<option value="Content" class="level-0">Content</option>
							<option value="Social" class="level-0">Social Media</option>
						</select>
					</form>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">

					<form class="blog-author-form">
						<div class="styled-select">
							<select class="gotham-rounded-bok" id="author" name="author">
								<option value="0">Authors</option>
								<option value="http://forgeandsmith.com/author/alec/">Alec Morrison</option>
								<option value="http://forgeandsmith.com/author/andrinafawcett/">Andrina Fawcett</option>
								<option value="http://forgeandsmith.com/author/ashelypitre/">Ashley Pitre</option>
								<option value="http://forgeandsmith.com/author/craig/">Craig Barnes</option>
								<option value="http://forgeandsmith.com/author/damian/">Damian Jolley</option>
								<option value="http://forgeandsmith.com/author/eric/">Eric Breuers</option>
								<option value="http://forgeandsmith.com/author/forge-and-smith/">Forge and Smith</option>
								<option value="http://forgeandsmith.com/author/pam-berg/">Pam Berg</option>
								<option value="http://forgeandsmith.com/author/shawn/">Shawn Johnston</option>
							</select>
						</div>											
					</form>
				</div>
			</div>
		</li>

		<!-- for 2nd li we used different color, so we hide this li -->
		<li class="hide"></li>

		<!-- We need to add the option value attr name in li for filter -->

	{% for post in site.posts %}
		<li class="hw-filter-li Social blog-content ">
			<div class="image-wrapper">
				<img width="" height="" alt="" src="http://forgeandsmith.com/wp-content/uploads/2015/12/Top-Tweets-Thumb.jpg">
				<div class="blog-post-meta">
					<a href="{{ post.url }}" class="button">View Article</a>
				</div>
			</div>

			<div class="blog-content-wrapper">
				<h4><span class="month">{{ post.published-date }}</span>  <span class="categories-list"><a rel="category tag" href="http://forgeandsmith.com/category/web-marketing/">{{ post.title}}</a>, </span></h4>
				<h3><a href="http://forgeandsmith.com/top-tweets-of-2015-and-what-we-learned-from-them/" class="gotham-rounded-bok">Top Tweets of 2015 (and What We Learned From Them)</a></h3>
				<p>
				<img class="nav-bp-author" alt="" src="/assets/img/blog/author.jpg">
				<a rel="category tag" class="categories-list" href="http://forgeandsmith.com/category/social-media/">{{ post.author}}</a>
				<span class="nov-blog-like-icon fa fa-heart-o"></span>
				<span class="gotham-rounded-bok month">25</span>
				</p>
			</div>
		</li>
	{% endfor %}


	</ul>
	</div>

	<script src="js/jquery-1.11.2.min.js"></script>
	<script>
		$(document).ready(function(){

			//filter only for category
			$("#cat").change(function() {
				//option value attribute 
				var val = $(this).attr('value');				
			    $(".hw-filter-li." + val).show();
			    //option value is not present in .hw-filter-li.(option value) then that li will hide
			    $(".blog-grid > .hw-filter-li:not(." + val + ")").hide();
			});

		});
	</script>


</main>
{% include footer.html %}