{% include header.html %}

<main>


	<h1 class="text-center gotham-rounded-bok heading hw-carousel-heading"> Engage Us </h1>
	<!-- carousel-->

   		<div class="carousel-padding"> 
		   	<div class="line"></div>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		   		<div class="container heading-caro-padd">
				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">
				    	 {% for cont in site.data.Portfolio.carousel.carousel_content%}
					       {% if forloop.first %}
					  	<div class="item active">
					      <p class=" gotham-rounded-bok hw-para">
					       {{ cont.content}}
					      </p>
					    </div>
						{% else %}
					   <div class="item">
					       <p class=" gotham-rounded-bok hw-para">
					       		 {{ cont.content}}
					      	</p>
					    </div>
						{% endif %}
					    {% endfor %}
				    </div>
				</div>
			</div>
	 	</div>

	<!-- end of carousel-->

  

	

	<!-- categories -->

		<div class="container-fluid  div-margin-left">

			<!-- hw-engage-cont -->
				<div class="hw-engage-cont">
					<!-- row one-->
						<div class="row ">

							<div class="col-lg-7">
								<h2 class="gotham-rounded-bok hw-heading  h2-color">{{site.data.Engage_Us.engageus.part1[0].title}}</h2>
								<div class="div-border-left">
									<p class="hw-para gotham-rounded-light para">{{site.data.Engage_Us.engageus.part1[0].content}}
									</p>
								</div>
								<a href='/our_thinking'><button class="custom-btn">know more</button></a>
							</div>

							<div class="col-lg-5">
								<div class="img-right img-outer">
									<img src="/assets/img/homepage/it-services.jpg"  alt="it-service">
								</div>
							</div>

						</div>
					<!--end of row1-->
				</div>
			<!-- End of hw-engage-cont -->

			<!-- hw-engage-cont -->
				<div class="hw-engage-cont">
					<!-- row 2 -->
						<div class="row">

							<div class="col-lg-5">
								<div class="img-outer">
									<img src="/assets/img/homepage/job-board.jpg"  alt="it-service">
								</div>
							</div>

							<div class="col-lg-7">
								<h2 class="gotham-rounded-bok hw-heading  h2-color">{{site.data.Engage_Us.engageus.part2[0].title}}</h2>
								<div class="div-border-left">
									<p class="hw-para gotham-rounded-light para">{{site.data.Engage_Us.engageus.part2[0].content}}
									</p>
								</div>
								<a href='/talent_acquisition'><button class="custom-btn">know more</button></a>
							</div>

						</div>
					<!-- end of row2 -->
				</div>
			<!-- End of hw-engage-cont -->


			<!-- hw-engage-cont -->
				<div class="hw-engage-cont">
					<!-- row3-->
						<div class="row">

							<div class="col-lg-7">
								<h2 class="gotham-rounded-bok hw-heading  h2-color">{{site.data.Engage_Us.engageus.part3[0].title}}</h2>
								<div class="div-border-left">
									<p class="hw-para gotham-rounded-light para">{{site.data.Engage_Us.engageus.part3[0].content}}
									</p>
								</div>
								<a href='/upskilling'><button class="custom-btn">know more</button></a>
							</div>

							<div class="col-lg-5">
								<div class="img-right img-outer">
									<img src="/assets/img/homepage/it-services.jpg"  alt="it-service">
								</div>	
							</div>

						</div>
					<!--end of row3-->
				</div>
			<!-- hw-engage-cont -->

			

		</div>
		<!-- end of container-->

	<!-- end of categories -->

	<!-- clients -->
		<div class="client-backgrnd">
			<h2 class="gotham-rounded-bok hw-heading  text-center h2-color">Our Clients</h2>

			<div class= "carousel-border">
				<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
			   
			   		<div class="carousel-inner" role="listbox">
					    <div class="item active text-center">
					    	<div class="clients-img">
								<span class="clients-icon-rite"><img src="/assets/img/homepage/canon.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/nikon.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/manfrotto.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/prolight.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/manfrotto.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/prolight.png"></span>
					        </div>
						</div>

				      	<div class="item text-center">
					       	<div class="clients-img">
								<span class="clients-icon-rite"><img src="/assets/img/homepage/canon.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/nikon.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/manfrotto.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/prolight.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/manfrotto.png"></span>
						        <span class="clients-icon-rite"><img src="/assets/img/homepage/prolight.png"></span>
					        </div>
				      	</div>
					</div>

				    <a class="left carousel-control carousel-width" href="#myCarousel" role="button" data-slide="prev">
				      <span aria-hidden="true"> <i class="fa fa-angle-left angle-clr"></i></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="right carousel-control carousel-width" href="#myCarousel" role="button" data-slide="next">
				      <span aria-hidden="true">  <i class="fa fa-angle-right angle-clr"></i></span>
				      <span class="sr-only">Next</span>
				    </a>
			 	</div>

			</div> 	
		</div>

	<!-- end of clients-->

</main>	

{% include footer.html %}