{% include header.html %}
<main>
	<section class="banner section_casestudy">
		<div class="casestudy-img">
			<div class="container-fluid">
				<div class="row">

					<div class="columns-12">

						<div class="banner-outer">

							<div class="banner-inner">

								<h1 class="clr-white">{{ page.title }}</h1>
							</div>

						</div>

					</div>

				</div>
			</div>

		</div>


		
		
			<div class="container">

				<div class="row">
					<div class="col-lg-8  col-lg-offset-2 col-testimoni ">
						
						<div class="hr-display">
							<h3 class="text-uppercase hw-heading cs-li-margin">The New User Experience</h3>
							<hr/>
							<p class="hw-para gotham-rounded-bok">{{page.The_New_Use_Experience}}</p>
						
							<img src="{{page.imgsrc1}}">
						
							<p class="hw-para gotham-rounded-bok">{{page.para}}</p>
							
							<img src="{{page.imgsrc}}">
						
							<p class="hw-para gotham-rounded-bok">{{page.para1}}</p>
							<p class="hw-para gotham-rounded-bok">{{page.para2}}</p>
						</div>

						<div class="hr-display">
							<h3 class="text-uppercase hw-heading cs-li-margin">Using the Universal Windows Platform</h3>
							<hr/>
							{% for para in page.universal %}
							<p class="hw-para gotham-rounded-bok">{{page.para}}</p>
							{% endfor %}
						</div>

						<div class="hr-display">
							<h3 class="text-uppercase hw-heading cs-li-margin">Our Focus</h3>
							<hr/>
							<p class="hw-para gotham-rounded-bok">{{page.focus}}{{page.focus}}{{page.focus}}{{page.focus}}</p>
							<p class="hw-para gotham-rounded-bok">{{page.focus}}{{page.focus}}{{page.focus}}</p>
						
							<img src="{{page.imgsrc2}}">
						
							
							<p class="hw-para gotham-rounded-bok">{{page.focus}}{{page.focus}}</p>
						</div>
					    <div class="comments col-testimoni">
						     {%include disqus.html%}
					    </div>

					</div>
				</div>

			</div>
		


	</section>
</main>	
	<script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'hashworks'; // required: replace example with your forum shortname
      // var disqus_developer = 1; // Comment out when the site is live

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname+'.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>

{% include footer.html %}