{% include header.html %}

<main>

   <h1 class="text-center gotham-rounded-bok heading hw-carousel-heading">Talent Acquisition</h1>
		<div class="carousel-padding">
   			<div class="line"></div>
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

	   		<div class="container heading-caro-padd">
			    <!-- Wrapper for slides -->
			    <div class="carousel-inner" role="listbox">
			    	 {% for cont in site.data.Portfolio.carousel.carousel_content%}
							       {% if forloop.first %}
							  	<div class="item active">
							      <p class=" gotham-rounded-bok hw-para">
							       {{ cont.content}}
							      </p>
							    </div>
								{% else %}
							   <div class="item">
							       <p class=" gotham-rounded-bok hw-para">
							       		 {{ cont.content}}
							      	</p>
							    </div>
								{% endif %}
							    {% endfor %}
				</div>

			</div>

			
	 	</div>
	 	</div>
	<!-- end of carousel-->
	
	<!--tabs-->
	<div class="bs-example line-padding">
			<div class="container-fluid  div-margin-left">

		    <ul class="nav nav-tabs p-flex">
		    	
		        <li class="active c-flex"><a class="hw-te-tab hr-display"  data-toggle="tab" href="#employer" >
		        	<ul class="tab-img">
		        		<li  class="li-tab-mar"><img src="/assets/img/talent_acquisition/employer.png"></li>
		        		<li class="gotham-rounded-light  "><p class="text-center hr-display">Employer</p></li>
					</ul></a>
				</li>
		        
		        <li class="c-flex"><a  class="hw-te-tab hr-display" data-toggle="tab" href="#patner" >
		        	<ul class="tab-img">
		        		<li class="li-tab-mar"><img src="/assets/img/talent_acquisition/patner.png"></li>
		        		<li class="gotham-rounded-light"><p class="text-center hr-display">Partner</p></li>
					</ul></a>
		        </li>

		        <li class="c-flex"><a  class="hw-te-tab hr-display" data-toggle="tab" href="#job-seeker" >
		        	<ul class="tab-img" >
		        		<li class="li-tab-mar"><img src="/assets/img/talent_acquisition/job-seeker.png"></li>
		        		<li class="gotham-rounded-light "><p class="text-center hr-display">Job Seeker</p> </li>
					</ul></a>
		        </li>

		        
		    </ul>

		</div> <!--end of contaier-fuild of tab heading-->


	    <div class="tab-content">

	        <div id="employer" class="tab-pane fade in active">
	        	<div class="container-fluid  div-margin-left">
					<div class="hw-engage-cont">
			        	<h2 class="hw-heading gotham-rounded-bok h2-color">Employer</h2>
			        	{% for para in site.data.Talent_Acquisition.talent.Employer %}
			        	<p class="hw-para gotham-rounded-light">{{ para.employee }}</p><br>
			        	{% endfor %}
			        	
					</div>
				</div>	

			<!-- hw-started -->
				<div class="hw-started log-clr-backgrnd container-fluid">
					<div class="row p-flex">
						<div class="col-lg-8 c-flex">
							<h2 class="gotham-rounded-light hw-main-heading clr-white h-approch">WE CAN BE YOUR STAFFING PARTNER</h2>
						</div>
						<div class="col-lg-4 upskill-filter all c-flex clearfix">
							<span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us" >TALK TO US</button></span>
							<span><a href='/job_board'><button class=" job-board-btn gotham-rounded-bold custom-btn heading-custom-btn">JOB BOARD</button></a></span>
						</div>
					</div>
				</div>
			<!-- End of hw-started -->


			

	       	</div><!-- end of tab1-->

	        <!-- tab2-->
	        <div id="patner" class="tab-pane fade">
	        	<div class="container-fluid  div-margin-left">
					<div class="hw-engage-cont">
			        	<h2 class="hw-heading gotham-rounded-bok h2-color">Partner</h2>
			        	<p class="hw-para gotham-rounded-light">This course introduces attendees to the goals, objectives, benefits, practices of a DevOps environment with hands on working sessions. The course also addresses why DevOps is a mix of cultural, process  tools movement. This sessions talks about principles and mind-sets with practical hands-on use-cases that is pivoting the software delivery landscape.</p>
			        	<ul class="job-board-ul">
			        		{% for para in site.data.Talent_Acquisition.talent.Partner %}
			        		<li><p class="hw-para gotham-rounded-light li-class">{{para.partner}}</p></li>
			        		{% endfor %}
			        		
			        	</ul>
					</div>
				</div>	
				

				<!-- hw-started -->
				<div class="hw-started log-clr-backgrnd container-fluid">
					<div class="row p-flex">
						<div class="col-lg-8 c-flex">
							<h2 class="gotham-rounded-light hw-main-heading clr-white h-approch">BE OUR CHANNEL PARTNER</h2>
						</div>
						<div class="col-lg-4 upskill-filter all c-flex clearfix">
							<span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us" >TALK TO US</button></span>
							<span><a href='/job_board'><button class=" job-board-btn gotham-rounded-bold custom-btn heading-custom-btn">JOB BOARD</button></a></span>
						</div>
					</div>
				</div>
			<!-- End of hw-started -->	
			</div><!-- end of tab2-->

	        <!-- tab3-->
	        <div id="job-seeker" class="tab-pane fade">
	        	<div class="container-fluid  div-margin-left">
					<div class="hw-engage-cont">
			        	<h2 class="hw-heading gotham-rounded-bok h2-color">Job Seeker</h2>
			        	<ul class="job-board-ul">
			        		{% for para in site.data.Talent_Acquisition.talent.Job %}
							<li><p class="hw-para gotham-rounded-light li-class">{{ para.job }}</p></li>
							{% endfor %}

			        		
			        	</ul>
					</div>
				</div>	
				
				<!-- hw-started -->
				<div class="hw-started log-clr-backgrnd container-fluid" >
					<div class="row p-flex">
						<div class="col-lg-8 c-flex">
							<h2 class="gotham-rounded-light hw-main-heading clr-white h-approch">EXPLORE JOB OPPORTUNITIES</h2>
						</div>
						<div class="col-lg-4 upskill-filter all c-flex clearfix">
							<span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us" >POST RESUME</button></span>
							<span><a href='/job_board'><button class=" job-board-btn gotham-rounded-bold custom-btn heading-custom-btn">JOB BOARD</button></a></span>
						</div>
					</div>
				</div><!-- End of hw-started -->
			</div><!-- end of tab3-->

	<!-- layout for map and form-->
			<div class="container-fluid ms-form-mar" id="demo">
				<div class="row">
					<div class="col-lg-5 ">
						<!-- google map -->
      					<div id="map"></div>
   					 <!-- End of google map -->
						<div>
							
						</div>	
					</div>
					<div class="col-lg-7">
						<div class="post-resume">
							<form class="form-signin" onSubmit="submitForm(event)" >  <!-- start of form -->
							<div class="row ">
									<div class="col-lg-6"> 
										<div class="text-border">
											<div class="input-group">
					      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/name-img.png"></div>
					      						
												<input type="text" class="form-control placeholder-pro mainLoginInput input_name" id="name" placeholder="NAME" >
											</div>
										</div>		
									</div>
								
								<div class="col-lg-6"> 
									<div class="text-border">
										<div class="input-group">
				      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/email-img.png"></div>
											<input type="text" class="form-control placeholder-pro mainLoginInput input_email" id="email" placeholder="EMAIL">
										</div>
									</div>
								</div>
							</div>
							<div class="row ms-row-mar">
								<div class="col-lg-6"> 
									<div class="text-border">
										<div class="input-group">
				      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/sub-img.png"></div>
											<input type="text" class="form-control placeholder-pro mainLoginInput gotham-rounded-light input_subject" id="subject" placeholder="Subject">
										</div>	
									</div>	
								</div>
								<div class="col-lg-6"> 
									<div class="text-border">
										<div class="input-group">
				      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/phone-img.png"></div>
											<input type="text" class="form-control placeholder-pro mainLoginInput input_phone" id="phone" placeholder="PHONE">
										</div>
									</div>	
								</div>
							</div>

							<div class="row ms-row-mar">
								<div class="col-lg-12">
									<div class="text-border">
									<div class="input-group">
				      						<div class="input-group-addon"><img src="/assets/img/talent_acquisition/sub-img.png"></div>
				      						<textarea placeholder= "MESSAGE/FEEDBACK/REQUEST" class="form-control placeholder-pro mainLoginInput input_message"  id="message" rows="3"></textarea>
				      					</div>	
				      					
									</div>
								</div>
							</div><!-- end of text-area row-->

							<div class="attach-file">
				      			<div class="col-lg-9">
				      				<input type="file" class="gotham-book input_file-upload" id="file-upload">
				      				<br/><br/>
				      				<span class="attach-text"><span><img src="/assets/img/talent_acquisition/attach.png"></span><span class="gotham-rounded-bok attach-span">Attach File</span></span>
				      				<input type="text"  class="input_file-detail form-control placeholder-pro mainLoginInput"  id="file-detail" readonly="readonly"/>
				      			</div>
				      			<div class="col-lg-3 submit-background">
<button id="submit-btn" type="submit" class="btn">
              <br>
              <div class="submit-resume hr-display" style="margin: 0px auto;">
               <img src="/assets/img/talent_acquisition/submit.png" class="img-submit" >
               <p class="gotham-rounded-bok submit-text placeholder-pro img-para">SUBMIT</p>
              </div>
                      </button>
				      				
				      			</div>
				      		</div><!-- end of attach-file-->
							</form> <!-- end of form -->
						</div><!-- end of postresume -->
					</div><!--end of col-lg-8-->
				</div>
			</div>	
	<!-- end of layout for map and form-->



	    </div><!-- end of tab content-->
	</div> <!-- end of the bs-example tab-->

</main>	

{% include footer.html %}   